*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(calc.jpg);
    background-size: cover;
}
section{
    width: 100%;
}
section .container{
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 1280px;
}
section .container .box{
    display: flex;
    margin-top: 25vh;
    width: 400px;
    background: rgba(0, 0, 255, 0.81);
    height: 380px;
    text-align: center;
    align-items: center;
}
section .container .box form{
    width: 100%;
    display: flex;
    flex-direction: column;
}
section .container .box form h1{
    color: white;
    margin-bottom: 40px;
}
section .container .box form input{
    width: 50%;
    padding: 4px 0;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 0.2em;
}
section .container .box form input.caixa{
    background: rgb(87, 250, 250);
    margin-bottom: 30px;
}
section .container .box form input.caixa::placeholder{
    color: rgb(0, 0, 0);
}
section .container .box form label{
    color: white;
    margin-top: 0.2em;
    font-size: 1.2em;
}
section .container .box form button{
    width: 30%;
    text-align: center;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    margin-top: 1em;
    background: rgb(19, 231, 235);
    border: none;
    font-size: 1.2em;
    border-radius: 12px;
    cursor: pointer;
}